/*========== var ==========*/
:root{
/*========== primary color ==========*/
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
/*========== neutral color ==========*/
    --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
/*========== font ==========*/
    --font-family-body: "Lexend Deca", sans-serif;
    --font-family-title: "Big Shoulders Display", sans-serif;
    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
}
/*========== reset ==========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-body);
}
/*========== global ==========*/
body{
    background-color: var(--very-light-gray-background-headings-buttons);
}
/*========== main ==========*/
.main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 4rem 0;
}
/*========== card ==========*/
.card-content{
    max-width: 20rem;
    padding: 3rem;
}
.card-icon{
    margin-bottom: 1.8rem;
}
.card-title{
    margin-bottom: 1.5rem;
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-600);
    font-size: 2.3rem;
    color: var(--very-light-gray-background-headings-buttons);
}
.card-description{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    color: var(--transparent-white-paragraphs);
}
.first-card{
    border-radius: .5rem .5rem 0 0;
    background-color: var(--bright-orange);
}
.second-card{
    background-color: var(--dark-cyan);
}
.third-card{
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 .5rem .5rem;
}
.card-btn{
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50px;
    background-color: var(--very-light-gray-background-headings-buttons);
}
.card-btn:hover{
    background-color: transparent;
    border: 3px solid var(--very-light-gray-background-headings-buttons);
    color: var(--transparent-white-paragraphs);
}
.btn-one,
.btn-two,
.btn-three{
    font-weight: var(--font-weight-500);
}
.btn-one{
    color:var(--bright-orange);
}
.btn-two{
    color: var(--dark-cyan);
}
.btn-three{
    color: var(--very-dark-cyan);
}

/*========== media queries ==========*/

@media screen and (min-width: 875px){
    .main-container{
        margin: 0;
        height: 100dvh;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .card-content{
        max-width: 20rem;
        height: 31rem;
        position: relative;
    }
    .card-btn{
        position: absolute;
        bottom: 2.5rem;
    }
    .card-description{
        margin-bottom: 6rem;
        margin-right: 1rem;
    }
    .first-card{
        border-radius: .5rem 0 0 .5rem;
    }
    .third-card{
        border-radius: 0 .5rem .5rem 0;
    }
}
